.jumbotron img{
	width: 200px;
}

hr{
	width: 250px;
	border-top: 1px solid;
}

.about{
	min-height: 700px;
}

.portfolio{
	background-color: #eee;
	min-height: 950px;
}

.contact{
	min-height: 700px;
}

/*.portfolio img{
	width: 200px;
}*/